/***********************************************/
/* HTML tag styles                             */
/***********************************************/ 

body{
	font-family: Arial,sans-serif;
	color: #333333;
	line-height: 1.166;
}

a{
	color: #006699;
	text-decoration: none;
}

a:link{
	color: #006699;
	text-decoration: none;
}

a:visited{
	color: #006699;
	text-decoration: none;
}



h1{
	font-family: Verdana, Arial, sans-serif;
	font-size: 120%;
	color: #006699;
	margin: 0px;
	padding: 0px;
}

h2{
 font-family: Arial,sans-serif;
 font-size: 114%;
 color: #006699;
 margin: 0px;
 padding: 0px;
}

h3{
 font-family: Arial,sans-serif;
 font-size: 110%;
 color: #334d55;
 margin: 0px;
 padding: 0px;
}

h4{
 font-family: Arial,sans-serif;
 font-size: 108%;
 font-weight: normal;
 color: #333333;
 margin: 0px;
 padding: 0px;
}

h5{
 font-family: Verdana,Arial,sans-serif;
 font-size: 100%;
 font-weight: lighter;
 color: #334d55;
 margin: 0px;
 padding: 0px;
}

ul{
 list-style-type: square;
}

ul ul{
 list-style-type: disc;
}

ul ul ul{
 list-style-type: none;
}

label{
 font-family: Arial,sans-serif;
 font-size: 100%;
 font-weight: bold;
 color: #334d55;
}


/***********************************************/
/* Layout Divs                                 */
/***********************************************/

#masthead{
	padding: 10px 0px 0px 0px;

	width: 100%;
}

#navBar{
	float: left;
	width: 20%;
	margin: 0px;
	padding: 0px;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}

#RnavBar{
	float: right;
	width: 20%;
	margin: 0px;
	padding: 0px;
	background-color:#FFFFFF;
	
}



#content{
	float: left;
	width: 75%;
	padding-left: 10px;
}

/***********************************************/
/* Components                                  */
/***********************************************/

#siteName{
	margin: 0;
	padding: 0 0 0 10px;
}


/************* #globalNav styles **************/

#globalNav{
padding: 0px 0px 5px 10px;
border-bottom: 1px solid #CCC;
}

#globalNav img{
 display: block;
}

#globalNav a {
	font-size: 90%;
	padding: 0 4px 0 0;
}

/*************** #pageName styles **************/

#pageName{
	margin: 0px;
	padding: 0px 0px 0px 10px;
}


/************** .feature styles ***************/

.feature{
	padding: 0px 0px 10px 10px;
	font-size: 80%;
}

.feature h3{
	padding: 30px 0px 5px 0px;
	text-align: center;
}




/************** .story styles *****************/

.story{
	clear: both;
	padding: 10px 0px 0px 10px;
	font-size: 80%;
}

.story p{
	padding: 0px 0px 10px 0px;
}


/************* #siteInfo styles ***************/

#siteInfo{
	clear: both;
	border: 1px solid #cccccc;
	font-size: 75%;
	color: #cccccc;
	padding: 10px 10px 10px 10px;
}

#siteInfo img{
	padding: 4px 4px 4px 10px;
	vertical-align: middle;
}



/*********** #navBar link styles ***********/

#navBar ul a:link, #navBar ul a:visited {display: block;}
#navBar ul {list-style: none; margin: 0; padding: 0;}

/* hack to fix IE/Win's broken rendering of block-level anchors in lists */
#navBar li {border-bottom: 1px solid #EEE;}

/* fix for browsers that don't need the hack */
#navBar li {border-bottom: none;}

/*********** #RnavBar link styles ***********/

#RnavBar ul a:link, #RnavBar ul a:visited {display: block;}
#RnavBar ul {list-style: none; margin: 0; padding: 0;}

/* hack to fix IE/Win's broken rendering of block-level anchors in lists */
#RnavBar li {border-bottom: 1px solid #EEE;}

/* fix for browsers that don't need the hack */
#RnavBar li {border-bottom: none;}

/*********** #sectionLinks styles ***********/

#sectionLinks{
	position: relative;
	margin: 0px;
	padding: 0px;
	border-bottom: 1px solid #cccccc;
	font-size: 90%;
}

#sectionLinks h3{
	padding: 10px 0px 2px 10px;
}

#sectionLinks a {
	display: block;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #EEE;
	padding: 2px 0px 2px 5px;
}

#sectionLinks a:hover{
	background-color: #FFFFFF;
}
/*********** #RsectionLinks styles ***********/

#RsectionLinks{
	position: relative;
	margin: 0px;
	padding: 0px;
	border-bottom: 1px solid #cccccc;
	font-size: 90%;
}

#RsectionLinks h3{
	padding: 10px 0px 2px 5px;
}

#RsectionLinks a {
	display: block;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #EEE;
	padding: 2px 0px 2px 5px;
}

#RsectionLinks a:hover{
	background-color: #FFFFFF;
}

/*********** .lastLinks styles ***********/

.lastLinks{
	position: relative;
	margin: 0px;
	padding: 0px;
	border-bottom: 1px solid #cccccc;
	font-size: 90%;
	background-color: #cccccc;
}

.lastLinks h3{
	padding: 10px 0px 2px 10px;
}

.lastLinks a {
	display: block;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #EEE;
	padding: 2px 0px 2px 10px;
}

.lastLinks a:hover{
	background-color: #FFFFFF;
}
/*********** .RlastLinks styles ***********/

.RlastLinks{
	position: relative;
	margin: 0px;
	padding: 0px;
	border-bottom: 1px solid #cccccc;
	font-size: 90%;
	background-color: #cccccc;
}

.RlastLinks h3{
	padding: 10px 0px 2px 10px;
}

.RlastLinks a {
	display: block;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #EEE;
	padding: 2px 0px 2px 10px;
}

.RlastLinks a:hover{
	background-color: #FFFFFF;
}

/*********** .relatedLinks styles ***********/

.relatedLinks{
	position: relative;
	margin: 0px;
	padding: 0px 0px 5px 10px;
	border: 1px solid #333333;
	font-size: 90%;
	background-color: #eaeaea;

}

.relatedLinks h3{
	padding: 10px 0px 2px 0px;
}

.relatedLinks a:link,
.relatedLinks a:visited {
	display: block;
	border-bottom: 1px solid #999999;

}
/*********** .RrelatedLinks styles ***********/

.RrelatedLinks{
	position: relative;
	margin: 0px;
	padding: 0px 10px 5px 10px;
	border: 1px solid #333333;
	font-size: 90%;
	background-color: #eaeaea;

}

.RrelatedLinks h3{
	padding: 5px 0px 2px 0px;
}

.RrelatedLinks a:link,
.RrelatedLinks a:visited {
	display: block;
	border-bottom: 1px solid #999999;

}


/************** #sectionLinks **************/

#sectionLinks{
	position: relative;
	margin: 0px;
	padding: 0px;
	border-bottom: 1px solid #cccccc;
	font-size: 90%;
	background-color: #CCCCCC;
}

#sectionLinks h3{
	padding: 10px 0px 2px 10px;
}

#sectionLinks a {
	display: block;
	border-top: 1px solid #cccccc;
	padding: 2px 0px 2px 10px;
}

#sectionLinks a:hover{
	background-color: #FFFFFF;
}
#content #integrate table tr td font {
	font-weight: bold;
	border-color: #666666;
	border: 2px;
}

/** 
 * Slideshow style rules.
 */
#slideshow {
	margin:0 auto;
	width:450px;
	height:250px;
	position:relative;
	}
#slideshow #slidesContainer {
  margin:0 auto;
  width:350px;
  height:250px;
  overflow:auto; /* allow scrollbar */
  position:relative;
}
#slideshow #slidesContainer .slide {
  margin:0 auto;
  width:350px; /* reduce by 20 pixels of #slidesContainer to avoid horizontal scroll */
  height:250px;
}

/** 
 * Slideshow controls style rules.
 */
.control {
  display:block;
  width:39px;
  height:250px;
  text-indent:-10000px;
  position:absolute;
  cursor: pointer;
}
#leftControl {
  top:0;
  left:0;
  background:transparent url(images/control_left.jpg) no-repeat 0 0;
}
#rightControl {
  top:0;
  right:0;
  background:transparent url(images/control_right.jpg) no-repeat 0 0;
}

#mega-menu {
    margin: 0 auto;
    text-align: center;
}

.fa {
    margin-right: 5px;
}

.fa.fa-toggle-down {
    margin-left: 20px;
}

#mega-menu *:focus {
    outline: 4px solid #104BA9;
}

#mega-menu > li.has-drop.active > a {
    background-color: #fff;
    color: #104BA9;
}


#mega-menu .droplet {
    display: none;
    font-size: 14px;
    outline: 3px solid #ccc;
    position: absolute;
	background-color:#fff;
}

h2.col-head {
    margin: 1px;
    padding: 0;
    text-decoration: underline;
}

#mega-menu .droplet .col {
    display: inline-block;
	background-color:#fff;
    vertical-align: top;
    margin: 0 auto;
    padding: 10px;
    text-align: left;
}

#mega-menu .droplet .col ul {
    padding: 5px;
    margin: 0 auto;
    list-style-type: none;
}

#mega-menu .droplet .col a {
    display: block;
    color: #000;
    margin: 0;
    padding: 0;
}

#mega-menu .droplet .col a:focus,
#mega-menu .droplet .col a:hover {
    background-color: #104BA9;
    color: #fff;
}

#mega-menu > li {
    list-style-type: none;
    display: inline-block;
    margin: 5px;
}

#mega-menu > li > a {
	position: relative;
	display: block;
	font-size: 16px;
	text-align: center;
	width: 150px;
	background-color: #ccc;
	text-decoration: none;
	color: #000;
	padding:7px;
}

#mega-menu > li > a:focus,
#mega-menu > li > a:hover {
    color: #104BA9;
    background-color: #fff;
}
.carrousel__container {
  white-space: nowrap;
}
.carrousel__content[aria-hidden=true] {
  display: none;
}
.slide .carrousel__content {
  display: inline-block;
  vertical-align: top;
  visibility: visible;
  width: 100%;
  position: relative;
  -webkit-transition: left .5s ease-in;
  -moz-transition: left .5s ease-in;
  -o-transition: left .5s ease-in;
  -ms-transition: left .5s ease-in;
  transition: left .5s ease-in;
}

.slide .carrousel__content.visibility-off { visibility: hidden; }

.carrouselslide-1-1.slide > div,
.carrouselslide-2-1.slide > div,
.carrouselslide-3-1.slide > div,
.carrouselslide-4-1.slide > div,
.carrouselslide-5-1.slide > div { left: 0; }

.carrouselslide-1-2.slide > div,
.carrouselslide-2-2.slide > div,
.carrouselslide-3-2.slide > div,
.carrouselslide-4-2.slide > div,
.carrouselslide-5-2.slide > div { left: -100%; }

.carrouselslide-1-3.slide > div,
.carrouselslide-2-3.slide > div,
.carrouselslide-3-3.slide > div,
.carrouselslide-4-3.slide > div,
.carrouselslide-5-3.slide > div { left: -200%; }

.carrouselslide-1-4.slide > div,
.carrouselslide-2-4.slide > div,
.carrouselslide-3-4.slide > div,
.carrouselslide-4-4.slide > div,
.carrouselslide-5-4.slide > div { left: -300%; }

.carrouselslide-1-5.slide > div,
.carrouselslide-2-5.slide > div,
.carrouselslide-3-5.slide > div,
.carrouselslide-4-5.slide > div,
.carrouselslide-5-5.slide > div { left: -400%; }

.slide .carrousel__content[aria-hidden=true] { display: inline-block; }


/** Carousel **/

.jcarousel-wrapper {
    margin: 20px auto;
    position: relative;
    border: 10px solid #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 2px #999;
    -moz-box-shadow: 0 0 2px #999;
    box-shadow: 0 0 2px #999;
}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    width: 200px;
    float: left;
    border: 1px solid #fff;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.jcarousel img {
    display: block;
    max-width: 100%;
    height: auto !important;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #4E443C;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 0 0 4px #F0EFE7;
    -moz-box-shadow: 0 0 4px #F0EFE7;
    box-shadow: 0 0 4px #F0EFE7;
}

.jcarousel-control-prev {
    left: 15px;
}

.jcarousel-control-next {
    right: 15px;
}

/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: -40px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin: 0;
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;

    font-size: 11px;
    height: 10px;
    width: 10px;
    line-height: 10px;

    background: #fff;
    color: #4E443C;
    border-radius: 10px;
    text-indent: -9999px;

    margin-right: 7px;


    -webkit-box-shadow: 0 0 2px #4E443C;
    -moz-box-shadow: 0 0 2px #4E443C;
    box-shadow: 0 0 2px #4E443C;
}

.jcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;

    -webkit-box-shadow: 0 0 2px #F0EFE7;
    -moz-box-shadow: 0 0 2px #F0EFE7;
    box-shadow: 0 0 2px #F0EFE7;
}
